.popular-category {
  font-size: 48px;
}
.category-tab {
  background-color: #ffffff;
  width: 300px;
  height: 86px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  color: #f72d57;
}

.category-tab > svg {
  color: #ffffff;
}

.category-tab:hover {
  background-color: rgb(34, 248, 255);
  color: #ffffff;
}

.category-title {
  width: 10px;
  margin-left: -200px;
  font-size: 24px;
}

.category-tab-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 70px;
  gap: 60px;
}

.category-card {
  width: 300px;
  height: 320px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 30px;
  margin-left: 90px;
}

.item-name {
  font-size: 20px;
  font-weight: 500;
  font-family: "poppins";
}

.item-price {
  font-weight: 500;
}

.badge {
  /* margin-left: auto; */
  position: relative;
  margin-left: 220px;
}

.badge-star {
  position: relative;
  margin-left: -17px;
  top: -10px;
}
.cards {
  display: flex;
  width: 1400px;
  margin-left: -20px;
  margin-top: 30px;
}

@media screen and (max-width: 425px) {
  .category-tab-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    margin-left: 180px;
    gap: 90px;
    margin-bottom: 30px;
  }

  .popular-category {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .cards {
    display: flex;
    width: 1200px;
  }
}
