* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
}

.nav-end {
  display: flex;
  align-items: center;
  gap: 15px;
}
.signup-btn {
  width: 140px;
  height: 46px;
  background-color: #f72d57;
  border-radius: 5px;
  border: none;
  color: #ffff;
}

label.logo {
  color: #f72d57;
  font-size: 48px;
  font-family: "praise";
}
nav ul {
  display: flex;
  gap: 20px;
}

nav ul a {
  color: black;
  font-size: 20px;
}

nav ul a:hover {
  color: #f72d57;
  text-decoration: underline;
  font-size: 20px;
}

.checkbtn {
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 475px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    z-index: 30;
    width: 500px;
    height: 900px;
    background-color: #f72d57;
    top: 80px;
    left: -600px;
    transition: all 0.5s;
    text-align: center;
    padding-top: 30px;
  }

  .signup-btn {
    width: 140px;
    height: 46px;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    color: black;
    font-size: 30px;
  }

  nav ul a {
    font-size: 30px;
    color: #ffffff;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  #check:checked ~ ul {
    left: 0;
  }

  label.logo {
    color: #f72d57;
    font-size: 50px;
    font-family: "praise";
    margin-left: 200px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
}
